*.class

# Package Files #
*.jar
*.war
*.ear
*.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.classpath
*.settings
*.project

*target/
*stored_files/

*_base.java

*.settings/

.directory
*~

sd-store/store-ws_wsdl/stored_files/*

*.log

